<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Matcha</title>
	<link rel="stylesheet" href="assets/semantic/dist/semantic.min.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/assets/geolocator/dist/geolocator.min.js"></script>
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/assets/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/assets/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="Matcha"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/assets/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="/assets/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="/assets/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="/assets/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="/assets/mstile-310x310.png" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		function get_notif()
		{
			$.getJSON("/notif/api", function (data) {
				$('#notif').text(data.unread);
			});
		}
			setInterval(get_notif, 3000);

			function loader()
			{
				$('.ui.disabled.inverted.dimmer').removeClass('ui disabled inverted dimmer').addClass('ui active inverted dimmer', setTimeout(function () {
        $('.ui.active.inverted.dimmer').removeClass('ui active inverted dimmer').addClass('ui disabled inverted dimmer');
   		 }, 10000));
			}
	</script>
	<script type="text/javascript" src="/assets/scripts.js"></script>
	<style>
		footer
		{
		position: fixed;
		bottom: 0pt;
		left: 0pt;
		}
		#ld {
			display:none
		}
		#ld.active {
			display:block;
		}
		.ui.small.basic.icon.buttons
		{
			border: none !important;
		}
		.ui.red.circular.label
		{
			height: 2px;
			margin-left: 10px;
		}
		.ui.tiny.images
		{
			padding-top: 25px;
			
		}
		.main.container
		{
			margin-top: 7em;
		}
		.ui.teal.label
		{
			margin: 3px;
		}
		.ui.right.labeled.left.icon.input
		{
			padding-top: 10px;
		}
		ui.compact.menu
		{
			margin-top: 20em;
			padding-top: 20px;
		}
		#notif
		{
			margin-top: 15px !important;
		}
	</style>
</head>
<header>
<div class="ui fixed inverted menu">
	<a href="/" class="title item"><h1 class="ui red inverted header">Matcha.</h1></a>
	<a href="/" class="header item">Mon profil</a>
	<a href="/logout" class="header item">Logout</a>
	<a href="/galerie" class="header item">Galerie</a>
	<a href="/notification" class="header item">Notification<div id="notif" class="floating ui red label">0</div></a>
	<a href="/match" class="header item">Mes match!</a>
</div>
</header>
<body>
	<div class="ui main container">
		<% if (locals.flash && locals.flash.error) { %>
		<div class="ui negative message">
			<%= flash.error %>
		</div>
		<% } %>
		<% if (locals.flash && locals.flash.success) { %>
		<div class="ui positive message">
			<%= flash.success %>
		</div>
		<% } %>