<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>First Page</title>
	<link rel="stylesheet" href="/assets/semantic/dist/semantic.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
	function get_notif()
	{
		$.getJSON("/notif/api", function (data) {
			console.log(data)
			$('#notif').text(data.unread);
		});
	}
			setInterval(get_notif, 8500);
	</script>
	<style>
		/*.ui.card
		{
			margin-top: 100px;
		}*/
		/*.image.profile
		{
			height: 12em;
		}
		#image_profile
		{
			height: 12em;
		}*/
		.ui.card
		{
			width: 20em;
		}
		.ui.small.basic.icon.buttons
		{
			border: none !important;
		}
		.ui.tiny.images
		{
			padding-top: 25px;
			
		}
		.main.container
		{
			margin-top: 7em;
		}
		.ui.teal.label
		{
			margin: 3px;
		}
		.ui.right.labeled.left.icon.input
		{
			padding-top: 10px;
		}
				#notif
		{
			margin-top: 15px !important;
		}
	</style>
</head>
<header>
<div class="ui fixed inverted menu">
	<a href="/" class="title item"><h1 class="ui red inverted header">Matcha.</h1></a>
	<a href="/" class="header item">Mon profil</a>
	<a href="/logout" class="header item">Logout</a>
	<a href="/galerie" class="header item">Galerie</a>
	<a href="/notification" class="header item">Notification <div id="notif" class="floating ui red label">0</div></a>
	<a href="/match" class="header item">Mes match!</a>
</div>
</header>
<body>
	<div class="ui main container">
		<% if (locals.flash && locals.flash.error) { %>
		<div class="ui negative message">
			<%= flash.error %>
		</div>
		<% } %>
		<% if (locals.flash && locals.flash.success) { %>
		<div class="ui positive message">
			<%= flash.success %>
		</div>
		<% } %>