<% include header %>
<div class="ui horizontal divider">Mot de passe oublié</div>

<form class="ui tiny form segment" method="post">
	<div class="one field">
		<label for="email">Votre adresse email: </label>
		<input placeholder="email" name="email" id="email" type="text">
	</div>
	    <center>
		<button value="lost" name="form" type="submit" class="ui blue labeled submit icon button">
			<i class="icon edit"></i>Récuperer mon mot de passe
		</button>
    </center>
</form>
<% include footer %>