<% include header %>
		<!--<div class="ui grid container">-->
		<div class="ui horizontal divider">Mes notifications</div>
		<h3 class="ui header">Ces personnes ont consulté votre profil: </h3>
		<!--<div class="ui section divider"></div>-->
		<h3 class="ui header">Vos Match: </h3>
		<!--</div>-->
		
<% include footer %>
